.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.search{
width:420px;
padding:12px 20px;
border-radius:30px;
border:none;
background:#0f172a;
color:white;
outline:none;
}

.topbar-right{
display:flex;
align-items:center;
gap:20px;
}

.notification{
font-size:20px;
cursor:pointer;
}

.profile{
display:flex;
align-items:center;
gap:10px;
}

.profile-avatar{
width:35px;
height:35px;
border-radius:50%;
background:linear-gradient(135deg,#7c3aed,#4f46e5);
display:flex;
align-items:center;
justify-content:center;
color:white;
font-weight:bold;
}

.profile-info{
line-height:1.1;
}

.email{
font-size:13px;
margin:0;
}

.role{
font-size:11px;
color:#9ca3af;
margin:0;
}